# build
build/
*.egg-info
dist/

# Numba cache directories
**/__pycache__
**/*.pyc

# Compiled binary files
**/*.so
**/*.pyd
**/*.dll
**/*.dylib

# Jupyter notebook checkpoints
.ipynb_checkpoints
*.ipynb

# Temporary files
*~
# MacOS system files
.DS_Store

# IDE and editor files
.vscode/
.idea/
*.swp
*.[oa]

# imgages
*.png
*.jpg
*.jpeg
*.gif
*.svg

/*.py
/*.ipynb
.*/**
.aider*
.env
